<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D3 Playground Graphs</title>
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="hbox" style="height:100%;">
		<div id="graph" class="vbox" style="position:relative;left:10vw;width:80vw;">
			<h1>CHARTS</h1>
			<svg></svg>
		</div>
	</div>

	<script type="text/javascript">
		var width = 200;
		var height = 200;
		var svg = d3.select("svg");
		// Generate random data to display
		var data;
		function generateData() {
			data = []
			size = Math.ceil(Math.random() * 15) + 5; // between 5 and 20 data points 
			for (var i = 0; i < size; i++) {
				data.push([Math.random() * 10, Math.random() * 10]);
			}
		}

		function modifyData() {
			size = Math.ceil(Math.random() * 15) + 5;
			if (size <= data.size) {
				for (var i = 0; i < data.size - size; i++) {
					data.pop();
				}
			} else {
				for (var i = 0; i < size - data.size; i++) {
					data.push([Math.random() * 10, Math.random() * 10]);
				}
			}
		}


		function update() {
			var padding = 20;
			svg.attr("width", width)
				.attr("height", height);
			var scaleX = d3.scaleLinear().domain([0, d3.max(data, function(d) {return d[0]})]).range([padding, width-padding]);
			var scaleY = d3.scaleLinear().domain([0, d3.max(data, function(d) {return d[1]})]).range([height-padding, padding]);
			var circles = svg.selectAll("circle").data(data);
			circles.enter().append("circle");
			circles.exit().remove();
			svg.selectAll("circle").attr('cx', function(d) {return scaleX(d[0])})
				.attr('cy', function(d) {return scaleY(d[1])})
				.attr('r', padding/2);
			var axisY = d3.axisLeft(scaleY);
			var axisX = d3.axisBottom(scaleX);
			svg.selectAll("g").remove();
			svg.append("g")
				.attr("class", "axis")
				.attr("transform", "translate(" + padding + ", 0)")
				.call(axisY)
			svg.append("g")
				.attr("class", "axis")
				.attr("transform", "translate(0," + (height-padding) + ")")
				.call(axisX);
		}

		function outerHeight(el) {
			// Taken from youmightnotneedjquery.com
			var height = el.offsetHeight;
		  	var style = getComputedStyle(el);

		  	height += parseInt(style.marginTop) + parseInt(style.marginBottom);
		  	return height;
		}



		window.onload = function() {
			generateData();
			var container = document.getElementById("graph");
			width = container.clientWidth;
			height = container.clientHeight - outerHeight(document.getElementsByTagName("h1")[0]);
			update();
		}

		window.onresize = function() {
			var container = document.getElementById("graph");
			width = container.clientWidth;
			height = container.clientHeight - outerHeight(document.getElementsByTagName("h1")[0]);
			update();
		}

	</script>
	
</body>
</html>