<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Purchases</title>
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="hbox" style="height:100%;">
		<div class="vbox">
			<div class="hbox" id="controls" style="width: auto;">
				<!-- Display controls for the graphs -->

			</div>
			<div class="hbox" style="height:100%;">
				<div id="graph" class="vbox">
					<h1>Purchases</h1>
					<svg id="purchases"></svg>
				</div>
				<div class="vbox">
					<h1>Cumulative Purchases</h1>
					<svg id="cumulative"></svg>
				</div>
			</div>
		</div>
		
	</div>

	<script>
		var width = 200;
		var height = 200;
		var svgPurchases = d3.select("#purchases");
		var svgCumulative = d3.select("#cumulative");

		var data = [];
		var checked = {}

		function chooseColour(d) {
			switch (d) {
				case "Rewe":
					return "red";
				case "Aldi":
					return "blue";
				case "Poco":
					return "brown";
				default:
					return "black";
			}
		}

		function draw() {
			drawScatter();
			drawCumulative();
		}

		function filterChecks() {
			console.log("Enter filter");
			var checkboxes = d3.select("#controls").selectAll("label").select("input");
			checkboxes.each(function(d) {checked[d] = d3.select(this).property("checked")});
			draw();
			console.log("Exit filter");
		}

		function filtering(d) {
			console.log(checked[d["store"]]);
			return checked[d["store"]];
		}

		function updateData() {
			var allData = svgPurchases.selectAll("circle").data(data);
			var filtered = allData.filter(filtering);
			console.log(allData, filtered);
			svgPurchases.selectAll("circle").data(data).filter(filter).enter().append("circle").exit().remove();
			svgCumulative.selectAll("rect").data(data).filter(filter).enter().append("rect").exit().remove();
		}


		function drawScatter() {
			var padding = 50;
			svgPurchases.attr("width", width)
				.attr("height", height);

			// Scaling
			var scaleX = d3.scaleTime().domain([data[0]["date"],data[data.length-1]["date"]])
										.range([padding, width-padding]);
			var scaleY = d3.scaleLinear().domain([0, d3.max(data, function(d) {return d["cost"]})]).range([height-padding, padding]);

			var circles = svgPurchases.selectAll("circle").data(data.filter(function(d) {return filtering(d);}));
			circles.exit().remove();

			circles.enter().append("circle").merge(circles)
				.attr('cx', function(d) {return scaleX(d["date"])})
				.attr('cy', function(d) {return scaleY(d["cost"])})
				.attr('r', padding/5)
				.attr('fill', function(d) {return chooseColour(d["store"])});
			var axisY = d3.axisLeft(scaleY);
			var axisX = d3.axisBottom(scaleX);
			svgPurchases.selectAll("g").remove();
			svgPurchases.append("g")
				.attr("class", "axis")
				.attr("transform", "translate(" + padding + ", 0)")
				.call(axisY)
			svgPurchases.append("g")
				.attr("class", "axis")
				.attr("transform", "translate(0," + (height-padding) + ")")
				.call(axisX);
		}

		function drawCumulative() {
			var padding = 50;
			svgCumulative.attr("width", width)
				.attr("height", height);

			var filteredData = data.filter(filtering);
			var accumulation = filteredData.length > 0 ? [filteredData[0]["cost"]] : [];
			for (var i = 1; i < filteredData.length; i++) {
				accumulation[i] = accumulation[i-1] + filteredData[i]["cost"];
			}
			// Scaling
			var scaleX = d3.scaleTime().domain([data[0]["date"], data[data.length-1]["date"]])
										.range([padding, width-padding]);
			var scaleY = d3.scaleLinear().domain([0, d3.sum(data, function(d) {return d["cost"]})]).range([height-padding, padding]);

			var bars = svgCumulative.selectAll("rect").data(filteredData);
			bars.exit().remove();

			bars.enter().append("rect").merge(bars).attr('x', function(d) {return scaleX(d["date"])})
				.attr('y', function(d, i) {return scaleY(accumulation[i])})
				.attr('height', function(d, i) {return height - scaleY(accumulation[i]) - padding})
				.attr('width', width/data.length - padding/2)
				.attr('fill', function(d) {return chooseColour(d["store"])});
			var axisY = d3.axisLeft(scaleY);
			var axisX = d3.axisBottom(scaleX);
			svgCumulative.selectAll("g").remove();
			svgCumulative.append("g")
				.attr("class", "axis")
				.attr("transform", "translate(" + padding + ", 0)")
				.call(axisY)
			svgCumulative.append("g")
				.attr("class", "axis")
				.attr("transform", "translate(0," + (height-padding) + ")")
				.call(axisX);
		}


		function outerHeight(el) {
			// Taken from youmightnotneedjquery.com
			var height = el.offsetHeight;
		  	var style = getComputedStyle(el);

		  	height += parseInt(style.marginTop) + parseInt(style.marginBottom);
		  	return height;
		}

		window.onload = function() {
			var parseTime = d3.timeParse("%-d/%-m/%Y");
			var dates = []
			{% for date in dates %}
			dates.push(parseTime("{{date}}"));
			{% endfor %}
			var costs = []
			{% for cost in costs %}
			costs.push(parseFloat("{{cost}}"));
			{% endfor %}
			var stores = []
			{% for store in stores %}
			stores.push("{{store}}");
			{% endfor %}
			for (var i = 0; i < dates.length; i++) {
				data.push({
					"date": dates[i],
					"cost": costs[i],
					"store": stores[i]
				});
			}
			allData = data;

			// Size graph based on screen size
			var container = document.getElementById("graph");
			width = container.clientWidth;
			height = container.clientHeight - outerHeight(document.getElementsByTagName("h1")[0]);

			console.log(d3.set(stores));
			d3.select("#controls").selectAll("label")
				.data(d3.set(stores).values()).enter().append("label")
				.html(function(d) {return d})
				.append("input")
				.attr("type", "checkbox")
				.attr("name", function(d) {return d})
				.attr("checked", "checked")
				.attr("onclick", function(d) {return "filterChecks()"});
			filterChecks();
			draw();
		}

		window.onresize = function() {
			var container = document.getElementById("graph");
			width = container.clientWidth;
			height = container.clientHeight - outerHeight(document.getElementsByTagName("h1")[0]);
			draw();
		}

	</script>
</body>
</html>